.container{
  display: flex;
  justify-content: center;

}

.App{
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  color: #000000;
}

.centered{
  margin-top: 120px;
}

.toggler-input{
  width: 60px;
}

.toggle-div{
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}


/*  */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  /* text-indent: -9999px; */
  width: 100px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  transition: 0.25s ease-in-out;
}

input:checked+label {
  background: #bada55;
}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 60px;
}

/* // centering */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter{
  width: 250px;
  margin: auto;
  margin-top: 100px;
}